  /* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Calibri&display=swap');
body {
    font-family: 'Calibri', sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    transition: background-color 0.5s ease; /* add a smooth transition effect */
  }
  
  .container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    overflow-x: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease; /* add a smooth transition effect */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  input[type="search"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50%;
    margin-bottom: 10px;
    transition: width 0.5s ease; /* add a smooth transition effect */
  }
  
  input[type="search"]:focus {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 70%; /* expand the search input on focus */
  }
  
  .arrow, .up-arrow {
    color: gray;
    margin-left: 5px;
    transition: color 0.5s ease; /* add a smooth transition effect */
  }
  
  .arrow.active, .up-arrow.active {
    color: black;
  }
  
  .gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    transition: opacity 0.5s ease; /* add a smooth transition effect */
  }
  
  .js-top {
    display: none;
  }
  
  .js-top.show {
    display: block;
  }
  
  .js-gotop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease; /* add a smooth transition effect */
  }
  
  .js-gotop:hover {
    background-color: #555;
  }
  
  .filter-button {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    background: white;
    color: #727578;
    margin-bottom: 10px;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    transition: background-color 0.5s ease; /* add a smooth transition effect */
  }
  
  .filter-button:hover {
    background-color: #ccc; 
    color: gray; /* same hover text color as pagination buttons */
  }
  .pagination-link {
    transition: background-color 0.3s, color 0.3s; 
  }
  .pagination-link:hover {
    background-color: #ccc; 
    cursor: pointer;
  }

  .note-link {
    position: absolute;
    top: 10px;
    right: 0px;
    margin-right: 20px;
    font-size: 14px;
    font-family: 'Calibri',sans-serif;
  }

  .note-link a {
    color: gray;
  }

  .note-link a:hover {
    color: black; 
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* add some media queries to make the design responsive */
  
  @media only screen and (max-width: 768px) {
    .container {
      width: 90%;
    }
    input[type="search"] {
      width: 70%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .container {
      width: 95%;
    }
    input[type="search"] {
      width: 90%;
    }
  }

  /* Note popup styles */
.note-popup {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-bottom: 20px; */
  font-family: 'Calibri',sans-serif;
}

.tab-button {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f7f7f7;
  transition: background-color 0.2s ease;
  font-family: 'Calibri',sans-serif;
  font-size: 14px;
}

.tab-button:hover {
  background-color: #eee;
}

.tab-button.active {
  background-color: #ddd;
}

.tab-content {
  padding: 20px;
}

.tab-content ul {
  list-style: none;
  padding:0;
  margin: 0;
}

.tab-content li {
  margin-bottom: 10px;
}

.tab-content strong {
  font-weight: bold;
}